@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#__next {
  height: 100%;
}

/* blog content */

.bc {
  @apply font-serif;
  & p {
    @apply py-2;
  }

  & a {
    @apply text-blue-600;
  }

  & a:hover {
    @apply underline;
  }

  & blockquote {
    @apply border-l-4 border-primary pl-8 my-3 italic;
  }
}
