---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <section>
    <h1>About Me</h1>
    <p>
      I'm a programmer. I've done a little bit (and sometimes a lot bit) of basically everything
      over the years, but right now I'm a fulltime platform engineer focusing on developer tooling
      and cloud infrastructure.
    </p>
    <p>C is my favorite programming language. Take that as you will.</p>
    <p>
      I live in Lincoln, Nebraska, along with my wife, my kids, and a quantity of books and coffee
      mugs.
    </p>
    <p>
      For more code, check out
      <a target="_blank" href="https://github.com/michaelhelvey">my github</a>.
    </p>
  </section>
  <section>
    <h1>About This Site</h1>
    <p>
      This site has gone through a lot of iterations over the years. I've added and removed blog
      posts. It's been more or less "fancy."
    </p>
    <p>
      What you're seeing right now is one of the simplest iterations of it. It feels like, perhaps
      because of AI, and perhaps because of the popularity of fancy website templates, that everyone
      and their dog has a site with fancy animations, gradients, dark mode, etc.
    </p>
    <p>
      I'm not against any of those things. But I want my site to feel distinctly human. I'm a human.
      I write (both English and code) basically exclusively <i>for</i> other humans. I wanted my site
      to feel that way.
    </p>
    <p>I hope that comes across, and that you enjoy your time here.</p>
  </section>
</SiteLayout>
