---
import { Image } from "astro:assets"
import Layout from "@layouts/Layout.astro"
import { Icon } from "astro-icon/components"
import profilePicture from "../images/github_profile.jpg"
---

<Layout title="michaelhelvey.dev">
	<div class="flex h-full flex-col items-center justify-center">
		<div class="flex flex-col items-center justify-center">
			<Image
				src={profilePicture as unknown as string}
				width={192}
				height={192}
				alt="Michael Helvey Profile Picture"
				class="h-48 w-48 rounded-full border-4 border-slate-300 object-center shadow-sm"
			/>
			<h1 class="mt-6 text-4xl font-bold text-slate-900 dark:text-slate-100">Michael Helvey</h1>
			<p class="mt-2 text-center text-xl text-indigo-600 dark:text-slate-400">
				full stack web developer, professional computer tinkerer
			</p>
			<p class="mt-6 text-center text-lg text-slate-700 dark:text-slate-300">
				Welcome! I've been doing full stack web development professionally since jQuery. Check out
				my open source work, browse my blog posts, or get in touch.
			</p>
			<div
				class="mt-12 flex flex-col items-center justify-center space-y-4 text-slate-800 dark:text-slate-200 md:flex-row md:space-x-12 md:space-y-0"
			>
				<a
					href="https://github.com/michaelhelvey"
					target="_blank"
					rel="noopener noreferrer"
					class="flex items-center space-x-3 rounded-lg border border-slate-300 p-3 transition-colors duration-300 hover:bg-slate-100 dark:hover:bg-slate-800"
				>
					<Icon name="akar-icons:github-fill" class="h-6 w-6" />
					<div>Github</div>
				</a>
				<a
					href="https://twitter.com/_michaelhelvey"
					target="_blank"
					rel="noopener noreferrer"
					class="flex items-center space-x-3 rounded-lg border border-slate-300 p-3 transition-colors duration-300 hover:bg-slate-100 dark:hover:bg-slate-800"
				>
					<Icon name="akar-icons:twitter-fill" class="h-6 w-6" />
					<div>Twitter</div>
				</a>
				<a
					href="/blog"
					class="flex items-center space-x-3 rounded-lg border border-slate-300 p-3 transition-colors duration-300 hover:bg-slate-100 dark:hover:bg-slate-800"
				>
					<Icon name="carbon:book" class="h-6 w-6" />
					<div>Blog</div>
				</a>
				<a
					href="/contact"
					class="flex items-center space-x-3 rounded-lg border border-slate-300 p-3 transition-colors duration-300 hover:bg-slate-100 dark:hover:bg-slate-800"
				>
					<Icon name="fluent:contact-card-16-filled" class="h-6 w-6" />
					<div>Contact</div>
				</a>
			</div>
		</div>
	</div>
</Layout>
