---
import Icon from "astro-icon"
---

<div
	class="w-full bg-yellow-300 p-4 rounded border-yellow-600 border text-yellow-700 flex items-center"
>
	<Icon name="carbon:warning-filled" class="w-5 h-5 mr-2" />
	<div>
		<span class="font-bold">In Progress.</span>
		Sorry, this page is just a placeholder while I work on the site. Stop by again
		later!
	</div>
</div>
