---
import { Icon } from "astro-icon/components"
---

<div
	class="flex w-full items-center rounded border border-yellow-600 bg-yellow-300 p-4 text-yellow-700"
>
	<Icon name="carbon:warning-filled" class="mr-2 h-5 w-5" />
	<div>
		<span class="font-bold">In Progress.</span>
		Sorry, this page is just a placeholder while I work on the site. Stop by again later!
	</div>
</div>
